[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
flask-restful = "*"
pyyaml = "*"
gremlinpython = "*"
matplotlib = "*"
fbprophet = "*"
jsonschema = "*"
kazoo = "*"
influxdb = "*"

[dev-packages]
ipython = "*"
pylint = "*"
sphinx = "*"
mypy = "*"
"flake8" = "*"
