[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
flask-restful = "*"
pyyaml = "*"
gremlinpython = "*"

[dev-packages]
ipython = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
mypy = "*"

[requires]
python_version = "3.6"
